/* common */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: left;
  min-height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

.page-links {
  display: block;
  width: 80px;
  height: 40px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  color: #6b6c72;
}

.container {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 696px;
  padding: 24px;
}

/* gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.gallery-image:hover {
  transform: scale(1.025);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.simple-lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(46, 47, 66, 0.8);
}
.sl-navigation .sl-prev,
.sl-navigation .sl-next {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  fill: var(--button-color);
  background-color: transparent;
  transition: color 250ms ease-out, background-color 250ms ease-out;
}
.sl-wrapper .sl-navigation button.sl-prev {
  left: 0px;
}
.sl-wrapper .sl-navigation button.sl-next {
  right: 0px;
}
.sl-prev:hover,
.sl-next:hover,
.sl-prev:focus,
.sl-next:focus {
  fill: var(--button-accent-bgr-color);
  border: none;
}
.sl-next:disabled,
.sl-prev:disabled {
  cursor: not-allowed;
  fill: var(--button-disabled);
}
.sl-next:disabled:hover,
.sl-prev:disabled:hover {
  cursor: not-allowed;
  fill: var(--button-disabled);
}
.sl-current,
.sl-total {
  font-family: 'Montserrat', sans-serif;
  color: var(--button-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.sl-wrapper .sl-counter {
  color: var(--button-color);
  top: 16px;
  left: 16px;
}
.sl-wrapper .sl-close {
  top: 16px;
  right: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.sl-wrapper .sl-close .lightbox-close-icon {
  fill: var(--button-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sl-close:hover .lightbox-close-icon,
.sl-close:focus .lightbox-close-icon {
  fill: var(--button-accent-bgr-color);
}
.sl-caption {
  font-family: 'Montserrat', sans-serif;
  color: var(--button-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/* form */

.feedback-form {
  width: 360px;
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  background: #fff;
}
.feedback-form label {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.feedback-form input,
.feedback-form textarea {
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px;
  background-color: transparent;
  width: 100%;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 1px solid #000;
}

.feedback-form input:active,
.feedback-form input:focus,
.feedback-form textarea:active,
.feedback-form textarea:focus {
  border: 1px solid #808080;
}

.feedback-form textarea {
  resize: none;
}
.feedback-form button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: white;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}
